*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.orangeButton{
    background-color: orange;
    padding: 15px;
    font-size: 1.2rem;
    font-weight: bold;
    color: antiquewhite;
    border: none;
    border-radius: 5px;
}
/* navbar design//////////////////// */
.bannerContainer{
    margin-bottom: 50px;
    background-color: antiquewhite;
}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.right{
    width: 30%;
}
.right ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 1.5vw;
}
.nav ul li{
    padding: 0px 5px;
}
.right ul li a{
    text-decoration: none;
    color: #000;
}
/* banner design/////////////////////// */

.banner{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap:40px;
}
.banner h1{
    text-align: center;
    font-weight: bold;
}
.banner p{
    text-align: center;
    width: 50%;
}
.bannerImage{
    width: 60vw;
    margin-bottom: 50px;
}
.bannerImage img{
    border-radius: 10px;
    width: 100%;
}
@media only screen and (max-width: 600px) {
    .banner p{
        width: 80%;
    }
    .nav{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .right{
        width: 60%;
    }
    .nav .right ul li{
        
        font-size: 2.7vw;
    }
}

.section1{
    margin:10vh 10vw;
    display: grid;
    grid-template-areas: 
    "a b e"
    "c d e"
    ;
    gap:10px;
}
.section1 .image1{
    grid-area: a;
}
.section1 .image2{
    grid-area: b;
}
.section1 .image3{
    grid-area: c;
}
.section1 .image4{
    grid-area: d;
}
.section1 .secOneInfo{
    grid-area: e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: ceneter;
    text-align: center;
}
.section1>img{
    width: 100%;
}
@media only screen and (max-width: 600px) {
    .section1{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}
.section2{
    margin:10vh ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.s2left{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    width: 30%;
    gap: 50px;
    margin-right: auto;
    margin-bottom: auto;
    font-size: 1.23rem;
    
}
.subSec{
    margin: 10px 0px;
    padding: 10px 0px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px gainsboro;
}
.exp{
    color: white;
    font-size: 2rem;
    padding: 30px 50px;
    background-color: orange;
    border-radius: 7px;
    border: none;
    width: 25vw;
    position: absolute;
    margin-bottom: 100px;
    bottom: 50px;
    left: -50px;
    text-align: center;
}
.s2right{
    height: 200vh;
    position: relative;
}
.imageS2{
    margin-bottom: 50px;
}
@media only screen and (max-width: 600px) {
    .section2{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        
    }
    .s2right{

        position: relative;
        
    
    }
    .s2right .exp{
        text-align: center;
        width: 100%;
        position:static;
        bottom: -50px;
        left: 50px;
    }
}

.fContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15vh;
    margin-bottom: 100px;
}
.fsec-2,.fsec-4{
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.fsec-1,.fsec-3{
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.fSubSec{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 150px;
    padding: 40px;
    border: 2px solid orange;
}



